// sidebar
$backgroundColor: #001529;
$textColor: hsla(0, 0%, 100%, .65);
$activeTextColor: hsla(0, 0%, 100%, .85);

$width: 208px;

:export {
  backgroundColor:$backgroundColor;
  textColor:$textColor;
  activeTextColor: $activeTextColor;
  width: $width;
}