// sidebar
$backgroundColor: #001529;
$textColor: hsla(0, 0%, 100%, .65);
$activeTextColor: hsla(0, 0%, 100%, .85);


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  backgroundColor: $backgroundColor;
  testColor: $textColor;
  activeTextColor: $activeTextColor;
}
