@import "@/assets/scss/variables.scss";

.basic-layout {
  width: 100%;
  min-height: 100%;
}

.basic-layout__aside {
  min-height: 100%;
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);

  .basic-layout__aside-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .el-menu {
      border: 0;
    }

    .el-menu-item {
      &:hover {
        color: $activeTextColor;
      }

      &.is-active {
        background-color: #2d8cf0;
      }
    }

    .scrollbar-wrapper {
      height: calc(100vh - 57px - 48px);
    }
  }
}